*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5em;
  padding: 20px 20px;
  text-align: center;
  text-transform: uppercase;
}

main {
  display: flex;
  text-transform: uppercase;
  min-height: 95vh;
}

aside {
  background: #000000;
  color: #FFF;
  flex: 1;
  text-align: center;
}

.aside-title {
  font-size: 1em;
  font-weight: 100;
  justify-content: center;
  margin: 50px auto;
  width: 100px;
}

.matched-count {
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 30px;
}

.completed-pairs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.completed-pair > img {
  height: 70px;
  width: 60px;
  margin: 10px;
  object-fit: cover;
}

.top-3 {
  margin: auto;
  margin-top: 30px;
  width: 85%;
}

h3 {
  font-weight: 100;
}

li {
  list-style-type: none;
  padding-bottom: 10px;
  padding-top: 16px;
}

.b-cards {
  background: #E8E8E8;
  display: flex;
  padding: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
  flex: 3;
}

.b-card {
  width: 160px;
  height: 220px;
  text-align: center;
  font-size: 100px;
  margin: 20px;
  box-shadow: 12px 10px 34px -23px #333233;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  cursor: pointer;
}

.b-card:active {
  transform: scale(.97);
  transition: transform .2s;
}

.flip {
  transform: rotateY(180deg);
}

 /* .b-card.one {
   margin-top: 100px;
   margin-bottom: 0px;
 }

 .b-card.two {
   transform: rotate(-15deg);
 }

 .b-card.four {
   transform: rotate(20deg);
 }

 .b-card.five {
   transform: rotate(15deg);
   margin-left: 200px;
 }

 .b-card.six {
   transform: rotate(-10deg);
 }

 .b-card.eight {
   transform: rotate(-5deg);
 }

 .b-card.nine {
   transform: rotate(5deg);
   margin-right: 0px;
 }

 .b-card.ten {
   transform: rotate(-15deg);
 } */

 /* styles for win page */

.win-screen {
  background-color: #FFFFFF;
  overflow: hidden;
  padding-top: 22px;
  position: relative;
  text-align: center;
  min-height: 100vh;
}

.congrats {
  font-size: 4em;
  margin: 45px;
  position: relative;
  z-index: 2;
}

.win-screen img {
  height: auto;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
}

.win-msg {
  font-size: 2em;
  margin: 10px;
  padding-top: 45px;
  position: relative;
  z-index: 2;
}

.win-time {
  font-size: 2em;
  margin: 10px;
  position: relative;
  z-index: 2;
}

button {
  background-color: black;
  color: #FFFFFF;
  border: none;
  font-size: 1em;
  margin: 33px;
  padding: 22px 44px;
  position: relative;
  z-index: 2;
}

.hidden {
  display: none;
}

.back-card {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background-color: #FFFFFF;
  pointer-events: none;
  object-fit: cover;
}

.front-card {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border: 4px solid black;
  text-align: center;
  backface-visibility: hidden;
  pointer-events: none;
}
