*,
*:after,
*:before {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.5em;
  padding: 20px 20px;
  text-align: center;
  text-transform: uppercase;
}

main {
  display: flex;
  min-height: 100vh;
  text-transform: uppercase;
}

aside {
  background: #000000;
  color: #FFF;
  flex: 1;
  text-align: center;
}

.aside-title {
  font-size: 1em;
  font-weight: 100;
  justify-content: center;
  margin-left: 8em;
  margin-top: 4em;
  width: 30%;
}

.matched-count {
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 30px;
}

.completed-pairs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
}

.completed-pair {
  background-color: #787878;
  height: 70px;
  margin: 15px;
  width: 60px;
}

.top-3 {
  margin: auto;
  margin-top: 130px;
  padding-top: 16px;
  width: 85%;
}

h3 {
  font-weight: 100;
}

li {
  list-style-type: none;
  padding-bottom: 10px;
  padding-top: 16px;
}

.b-cards {
  background: #E8E8E8;
  flex: 3;
}

.b-card {
  background: #FFF;
  border: 2px solid black;
  display: inline-block;
  font-size: 100px;
  height: 230px;
  padding-top: 50px;
  text-align: center;
  text-align: center;
  width: 180px;
}

/* styles for win page */

.win-screen {
  background-color: #FFF;
  overflow: hidden;
  /* background-image: url("assets/bey1.jpg");
  opacity: 0.5; */
  padding-top: 22px;
  position: relative;
  text-align: center;
}

.congrats {
  font-size: 4em;
  margin: 45px;
  position: relative;
  z-index: 2;
}

.win-screen img {
height: auto;
left: 0;
opacity: 0.6;
position: absolute;
top: 0;
width: 100%;
}

.win-msg {
  font-size: 2em;
  margin: 10px;
  padding-top: 45px;
  position: relative;
  z-index: 2;
}

.win-time {
  font-size: 2em;
  margin: 10px;
  position: relative;
  z-index: 2;
}

button {
  background-color: black;
  color: #FFF;
  border: none;
  font-size: 1em;
  margin: 33px;
  padding: 22px 44px;
  position: relative;
  z-index: 2;
}
